@page
@model jQueryProject.AboutModel
@{
    ViewData["Title"] = "About";
}
    <style>
        body {
            background-image: url("/Images/BackgroundDoor.jpg");
        }
    </style>
    <div class="text-center maintext">
        <h1 class="display-4">About</h1>
        <h5 id="randomness">Established in 2014 in another dimension, RealFakeDoors.com has been the go to place for all your fake door needs. Have you ever opened a door and actually went somewhere? Well RealFakeDoors.com has you covered. Don't even worry, don't give it a second though, don't even think twice about it. Leave with an arm of fake doors in your arms today!</h5>
    </div>
<button class="bg-primary" onclick="randColor()">Randomness</button>

