@page
@model jQueryProject.AboutModel
@{
    ViewData["Title"] = "About";
}

    <div class="text-center maintext">
        <h1 class="display-4">About</h1>
        <p>Welcome to Real Fake Doors. Where our motto is "Get in quick, get out quicker.."</p>
    </div>

