@page
@model jQueryProject.CartModel
@{
    ViewData["Title"] = "Cart";
}

    <div class="text-center maintext">
        <h1 class="display-4">Cart</h1>
        <p>Everything you clicked added to a cart with a total price.</p>
    </div>

