@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        background-image:url("/Images/BackgroundDoor.jpg");
    }
</style>
<div class="text-center jumbotron">
    <h1 class="display-4">Real Fake Doors</h1>
    <p>Come on down to Real Fake Doors, where all the doors we sell don't open! That's a guarantee!</p>
</div>
